* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Poppins;
}

.screen {
    width: 100%;
    height: 100vh;
    padding: 80px 165px;

    background-color: #FAFAFA;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.top {
    width: 500px;
    height: 100%;
    gap: 16px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.toptop {
    display: flex;
    max-width: 444px;
    max-height: 102px;
    flex-direction: column;
}

.p1Class {
    color: #4D4F62;
    font-size: 36px;
    font-weight: 275;
}

.p2Class {
    font-size: 36px;
    font-weight: 600;

    color: #4D4F62;
}

.p3Class{
    width: 550px;
    font-size: 15px;
    font-weight: 400;

    color: #4D4F62;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.p4Class {
    color: #4D4F62;
    font-size: 20px;
    font-weight: 600;
}

.p5Class {
    width: 286px;

    color: #4D4F62;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
}

.bot {
    width: 1110px;
    height: 530px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.divLeft {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);

    background-color: #FFF;

    border-top: solid 4px #44D3D2;
    border-radius: 8px;
    padding: 32px;
}

.photo1{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
}

.divMid {
    width: 350px;
    height: auto;
    /* box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50); */

    background-color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.divRight {
    width: 350px;
    height: 250px;

    flex-shrink: 0;
    /* box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50); */

    background-color: #FFF;

    border: solid 4px #549EF2;
    border-radius: 8px;
}

.mid1 {
    border-top: solid 4px #EA5454;
    border-radius: 8px;
    width: 350px;
    height: 250px;
}

.mid2 {
    border-top: solid 4px #FCAE4A;
    border-radius: 8px;
    width: 350px;
    height: 250px;
}

